
li{
    list-style: none;
}
a{
    text-decoration: none !important;
}
.container-fluid{
    padding-right:0 !important;
    padding-left:0 !important;
}
.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}
.nav-item{
    padding-right:1rem;
}
.nav-link{
    color:#fff;
    text-transform: uppercase;
    font-size: 1.4rem;
    /* font-family: "Trebuchet MS", Tahoma, sans-serif; */
    font-family: Special Elite; 
}
.nav-link:hover{
    color: #EC9123 !important;
}
.logo{
    z-index: 20;
}
.inner-header-position{
    position: fixed;
    z-index: 9;
    margin-top: 0rem;
    width: 100%;
}
.menu-main{
    margin-top: 3rem !important;
    justify-content: end;
    margin-left: auto;
    z-index: 20;
}
.img-logo{
    -webkit-animation: 1s hieuungtitle forwards;
}
@-webkit-keyframes hieuungtitle{
    from{
        transform: translateX(0%);
     }
     to{
        transform: translateX(30%);
     }
}
.menu-sub {
    position: absolute;
    width: 220px;
    border: 1px solid rgba(0,0,0,0.15);
    z-index: 100000;
 padding:1rem 1rem;
    font-size: 16px;
    font-weight: 600;
    display: none;
 
}
.nav-item:hover .menu-sub{
    display: block;
}
.item-sub{
    padding: 0.8rem 1rem ;
    
}
.sub-link{
    color:#fff !important;
}
.item-sub:hover{
    background-color: #EC9123 ;
}
@-webkit-keyframes fadeInDown {
    0% {
       opacity: 0;
       -webkit-transform: translateY(-20px);
    }
    100% {
       opacity: 1;
       -webkit-transform: translateY(0);
    }
 }
 
 @keyframes t {
    0% {
       opacity: 0;
       transform: translateY(0px);
    }
    100% {
       opacity: 1;
       transform: translateY(-30%);
    }
 }
.FadeInDown{
    -webkit-animation-name: fadeInDown;
            animation-name: fadeInDown;
}
.banner{
    background: url(/asset/img/banner1.jpg) top center no-repeat;;
    background-position:center;
    background-size:cover;
   
}
.content-banner{
    padding: 23rem 0 20rem;

}
.title-banner{
    font-size: 5rem;
    color: #EC9123 !important;
    font-family: 'Merriweather', serif;
}

.menu-onscroll{
    background: rgba(27,39,61,.95);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation: 1s t forwards;
}



.inner-header .menu-onscroll {
    animation-duration: .6s;
    animation-timing-function: linear;
}
.btn-thamgia{
    padding:1rem 4rem !important;
    font-weight: 600 !important;
    font-size: 1.2rem !important;
}
.section-2{
    position: relative;
}