*{
    color:black !important;
    padding:0;
    margin:0;

}
li{
    list-style: none;
}
a{
    text-decoration: none !important;
}
.container-fluid{
    padding-right:0 !important;
    padding-left:0 !important;
}
.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}
#header{
    box-shadow: 0px 3px 6px #00000029;
    background: #fff;
    background-size: cover;
}

.logo{
    width:10%;

}
.menu-main{
    width: 90%;
}
.nav-item{
    padding-left:1rem;
}
.nav-link{
    text-transform: uppercase;
    font-weight: 600;
}
.menu-sub{
    position: absolute;
    width: 220px;
    border: 1px solid rgba(0,0,0,0.15);
    z-index: 100000;
  background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: none;
    top:50px;
}
.nav-item:hover .menu-sub{
    display: block;
}
.item-sub{
    padding:10px;
}
.item-sub:hover{
    background-color: yellow;
}


/* our gallery */
.caption-sample{
    height: 40px;
    background: yellow;
    position: absolute;
    bottom: 47px;
    width: 99%;
    margin-left: 5px;
    margin-right: 5px;
  opacity: 0;
}


.image-item{
    padding:5px;
}
.img-content:hover .caption-sample{
   opacity: 1;
   -webkit-animation: 0.3s hieuung forwards;
}
@keyframes hieuung{
    from{
        transform: translateY(100%);
     }
     to{
        transform: translateY(0%);
     }
}
@-webkit-keyframes hieuung{
    from{
        transform: translateY(100%);
     }
     to{
        transform: translateY(0%);
     }
}
.menu-img li{
    list-style: none;
    margin-left:2rem;
}
.menu-img-item{
    cursor: pointer;
}

.menu-img-item.active{
    background-color: #EC9123;
    padding:0.5rem 1rem;
    border-radius:4px;
}
.img-content{
    position: relative;
}

.gallery-layer a i{
    position: absolute;
    top:40%;
    text-align: center;
    right:40%;
    font-size: 50px;
    z-index: 10;
}
.gallery-layer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(18,16,47,0.90) none repeat scroll 0 0;
    z-index: 1;
    opacity: 0;
    transition: 0.4s;
    
}
.hinh{
    width:25%;
}
.img-content:hover .gallery-layer{
    opacity: 1;
}

.hidden{
    opacity:0;
    visibility: hidden;
    display: none;
}


/* footer */
.footer-company {
    width: 100%;
   
    padding: 75px 0 7px 0;
    margin: 0px;
    background-color: #c2adad;
    
}
.icon-footer{
    width: 29.3333%;
}
.contact-footer{
    width: 62.33333%;
}
.infor-icon{
    padding-left:0;
    display: flex;
}
.infor-icon-item{
    list-style: none;
    display: flex;
    margin-right:0.6rem;
}
.infor-icon-link{
    margin-top:1rem;
    padding:0.5rem 0.8rem;
    background-color: #EC9123;
   border-radius: 4px;
   display: flex;
  
}
.infor-icon-link:hover{
   border:1px solid #EC9123;
    background:#8a8484 none repeat scroll 0 0;
}


.list-contact{
    display: flex;
}
.contact-item{
    padding: 20px;;
}
.contact-link{
    font-weight: 600;
    font-size: 1.2rem;
    color: #EC9123 !important;
}
.contact-link:hover{
    color: #fff !important;
}


.footer-end{
    background-color: #0c0a24;
    padding:20px;
}
.coryright{
    width: 33.333%;
}
.privacy{
    width: 62.333%;
}
.coryright-content{
    float: right;
    margin-right: 1rem;
    color:#cecde9 !important;

}
.links-privacy{
    float: right;
    display: flex;
}
.item-privacy{
    margin-right: 25px;
   
}
.item-privacy a{
    color:#cecde9 !important;
}

/* quay lại đau trang */
.back-to-top {
    width: 50px;
    height: 50px;
    background: #EC9123;
    font-size: 35px;
    color: whitesmoke;
    text-align: center;
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right:30px;
    bottom: 50px;
    margin-left: -25px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
 }
 .back-to-top.hien-ra{
    visibility: visible;
    opacity: 1;
 }