*{
    color:black !important;
    padding:0;
    margin:0;

}
li{
    list-style: none;
}
a{
    text-decoration: none !important;
}
.container-fluid{
    padding-right:0 !important;
    padding-left:0 !important;
}
.row{
    margin-right: 0 !important;
    margin-left: 0 !important;
}
#header{
    box-shadow: 0px 3px 6px #00000029;
    background: #fff;
    background-size: cover;
}

.logo{
    width:10%;

}
.menu-main{
    width: 90%;
}
.nav-item{
    padding-left:1rem;
}
.nav-link{
    text-transform: uppercase;
    font-weight: 600;
}
.menu-sub{
    position: absolute;
    width: 220px;
    border: 1px solid rgba(0,0,0,0.15);
    z-index: 100000;
  background-color: #fff;
    font-size: 16px;
    font-weight: 600;
    display: none;
    top:50px;
}
.nav-item:hover .menu-sub{
    display: block;
}
.item-sub{
    padding:10px;
}
.item-sub:hover{
    background-color: #ffc107 ;
}
/* css background  */
.back-img{
    position: relative;
}
.background-title{
   position: absolute;
   background: rgb(18 16 47 / 37%) none repeat scroll 0 0;
   
   top: 0;
   width: 100%;
   left: 0;
   height: 100%;
}
.text-title{
    color:#fff !important;
    top: 50%;
    margin-top:6%;
    text-transform: uppercase;
}
/* css tin tức  */
.back-img{
    position: relative;
}
.background-title{
   position: absolute;
   background: rgba(18,16,47,0.60) none repeat scroll 0 0;
   
   top: 0;
   width: 100%;
   left: 0;
   height: 100%;
}
.text-title{
    color:#fff !important;
    top: 50%;
    margin-top:6%;
    text-transform: uppercase;
}



/* footer */
.footer-company {
    width: 100%;
   
    padding: 75px 0 7px 0;
    margin: 0px;
    background-color:#ebe1e1;
    
}
.icon-footer{
    width: 29.3333%;
}
.contact-footer{
    width: 62.33333%;
}
.infor-icon{
    padding-left:0;
    display: flex;
}
.infor-icon-item{
    list-style: none;
    display: flex;
    margin-right:0.6rem;
}
.infor-icon-link{
    margin-top:1rem;
    padding:0.5rem 0.8rem;
    background-color: #EC9123;
   border-radius: 4px;
   display: flex;
  
}
.infor-icon-link:hover{
   border:1px solid #EC9123;
    background:#8a8484 none repeat scroll 0 0;
}


.list-contact{
    display: flex;
}
.contact-item{
    padding: 20px;;
}
.contact-link{
    font-weight: 600;
    font-size: 1.2rem;
    color: #EC9123 !important;
}
.contact-link:hover{
    color: #fff !important;
}


.footer-end{
    background-color: #0c0a24;
    padding:20px;
}
.coryright{
    width: 33.333%;
}
.privacy{
    width: 62.333%;
}
.coryright-content{
    float: right;
    margin-right: 1rem;
    color:#cecde9 !important;

}
.links-privacy{
    float: right;
    display: flex;
}
.item-privacy{
    margin-right: 25px;
   
}
.item-privacy a{
    color:#cecde9 !important;
}

/* quay lại đau trang */
.back-to-top {
    width: 50px;
    height: 50px;
    background: #EC9123;
    font-size: 35px;
    color: whitesmoke;
    text-align: center;
    vertical-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right:30px;
    bottom: 50px;
    margin-left: -25px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
 }
 .back-to-top.hien-ra{
    visibility: visible;
    opacity: 1;
 }
/* menu - sibar  */
.menu-sibar{
    width: 50px;
    position: fixed;
    top: 40%;
    right: 0;
    list-style: none;
    z-index: 999;
    background: #EC9123;
    opacity: 0.8;
    border-right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
 }
 .nav-fixed-ul li a {
   
    font-size: 24px;
    line-height: 30px;
    padding: 10px;
    text-align: center;
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
    background: #f7f7f7;;
    /* background: #EC9123; */
    opacity: 0.7;
    border-right: 1px solid #e1e1e1;
}
.nav-fixed-ul li a:hover {
    background-color: #e1e1e1;
}
.nav-fixed-ul li:first-child a {
    border-top-left-radius: 5px;
    border-top: 1px solid #e1e1e1;
}
.nav-fixed-ul li {
    display: block;
    position: relative;
    margin: 0 -1px;
}
.title-sibar{
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
    position: absolute;
    left: 100%;
    line-height: 30px;
    padding: 10px;
    top: 0;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #EC9123;
    color: #fff !important;
    white-space: nowrap;
    transition: .3s all;
    -webkit-transition: .3s all;
    opacity: 1;
    width: auto;
    padding-right:60px;
    transform: translate(0,0);
    -webkit-transform: translate(0,0);
}
.nav-fixed-ul li:hover .title-sibar {
    opacity: 1;
    transform: translate(-100%,0);
    -webkit-transform: translate(-100%,0);
}
ul {
    margin-top: 0;
    margin-bottom: 0rem !important;
}


 /* repomsive  */
@media only screen and (max-width:739px){
    .menu-sibar{
        display: none;
    }
    #quaylai{
        display: none;
    }
    h2{
        font-size: 1.5rem !important;
    }
    .logo{
        width: 35%;
    }
    .menu-main{
        width: 65%;
        padding-top: 5px;
        
    }
    .navbar-toggler{
        justify-content: end;
    }
   .carousel-content .carouse-title{
       font-size: 2rem;

   }
   /* background */
   .back-img{
       height:25vh;
   }
   .back-img img{
       height:100%;
   }
   .text-title{
    margin-top: 4rem;
   }

/* Tin tức */
  
   /* foorter */
   .icon-footer {
       width: 100%;
   }
   .contact-footer {
       width:100%;
   }
   .contact-item {
       padding: 0;
   }
   .contact-link{
       font-size: 0.8rem;
       padding-right:16px;
   }
   .coryright {
       width: 100%;
   }
   .privacy {
      display: none;
   }
   .coryright-content {
      text-align: center;
   }

   /* menu-top */
   .inner-header .container{
    padding-right: 0px !important;
    padding-left: 0px !important;
    }
    .navbar-nav {
        padding-left:3rem !important;
        padding: 1rem 3rem;
    }

    #collapsibleNavbar{
        width: 160%;
        background-color: #e5dfd7ed;
        position: absolute;
        z-index: 4;
        right:0;
        top:90% !important;
    }
}
@media only screen and (min-width:740px) and (max-width:1023px){
   .logo{
       width: 30%;
   }
   .menu-main{
       width: 70%;
       padding-top: 5px;
       
   }
   .navbar-toggler{
       justify-content: end;
       margin-top:1.4rem;
   }
  .carousel-content .carouse-title{
      font-size: 3rem;
  }
  .carousel-content{
       top: 25%;
       left: 30%;
  }
    /* background */
    .back-img{
        height:20vh;
    }
    .back-img img{
        height:100%;
    }
    .text-title{
     margin-top: 4rem;
    }

 
   /* foorter */
   .icon-footer {
       width: 100%;
   }
   .contact-footer {
       width:100%;
   }
   .contact-item {
       padding: 0;
   }
   .contact-link{
       font-size: 0.8rem;
       padding-right:16px;
   }
   .coryright {
       width: 100%;
   }
   .privacy {
      display: none;
   }
   .coryright-content {
      text-align: center;
   }
   /* menu-top */
   .inner-header .container{
    padding-right: 0px !important;
    padding-left: 0px !important;
    }
    .navbar-nav {
        padding-left:3rem !important;
        padding: 1rem 3rem;
    }

    #collapsibleNavbar{
        width: 160%;
        background-color: #e5dfd7ed;
        position: absolute;
        z-index: 4;
        right:0;
        top:90% !important;
    }
}
@media only screen and (min-width:1024px) and (max-width:1204px) {
   .logo{
       width: 20%;
   }
   .menu-main{
       width: 80%;
       padding-top: 5px;
       
   }
   .carousel-content .carouse-title{
       font-size: 3rem;
   }
   .carousel-content{
        top: 25%;
        left: 30%;
   }
   .navbar{
       top:15%;
   }
   .navbar-expand-lg .navbar-nav .nav-link {
       padding-right: 0.8rem !important;
       padding-left: 0rem !important;
   }
   .nav-item {
       padding-left: 0rem !important;
   }
   
}